In [282]:
import pandas as pd
import numpy as np

from functools import reduce

In [283]:
antibiotic_use_aware = pd.read_csv('simple_data/antibiotic_use_aware-2016-2023.csv')

In [284]:
antibiotic_use_aware.head()

,WHORegionCode,WHORegionName,CountryIso3,CountryTerritoryArea,IncomeWorldBankJune,Year,AntimicrobialClass,AWaRe,AWaReLabel,RouteOfAdministration,DDD,DID,Note
0,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",A,Ãƒccess,O,5.599337e+06,5.255820,NaN
1,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",O,Not classified/recommended,O,6.524650e+04,0.061244,NaN
2,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",R,Reserve,O,8.997500e+03,0.008446,NaN
3,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",W,Watch,O,3.020862e+06,2.835533,NaN
4,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",A,Ãƒccess,P,3.591178e+05,0.337086,NaN

In [285]:
# 2016-2022 arası, Ülke bazlı, günlük doz oranı (DDD per 1000 inhabitants per day)
antibiotic_consumption = pd.read_csv('simple_data/antibiotic-consumption-rate.csv')

In [286]:
antibiotic_consumption.head()

    Entity Code  Year  am_consumption_rate
0  Armenia  ARM  2016            10.017727
1  Armenia  ARM  2017            12.989964
2  Armenia  ARM  2018            13.337215
3  Armenia  ARM  2019            12.602548
4  Armenia  ARM  2020            19.282710

In [287]:
# 2000-20188 arası, 0-14 yaş grubu, ülke bazlı, % olarak antibiyotik kullanımı
antibotic_usage_in_children = pd.read_csv('simple_data/antibiotic-usage-in-children.csv')

In [288]:
antibotic_usage_in_children.head()

          country  Year  am_usage_children
0     Afghanistan  2000               63.8
1         Albania  2000               64.1
2         Algeria  2000               56.7
3  American Samoa  2000               50.9
4          Angola  2000               32.9

In [289]:
# 2024 yılında ülkelerin GLASS üyelik durumları (Both, AMR Only, Neither)
glass_countries = pd.read_csv('simple_data/glass_countries.csv')

In [290]:
glass_countries.head()

        Entity Code  Year is_glass_country
0  Afghanistan  AFG  2024             Both
1      Albania  ALB  2024          Neither
2      Algeria  DZA  2024         AMR only
3      Andorra  AND  2024          Neither
4       Angola  AGO  2024         AMR only

In [291]:
# 2021 Yılında semptomların toplam ölüm sayısı ve kaç tanesisin AMR kaynaklı olduğu
global_deaths = pd.read_csv('simple_data/global_deaths.csv')

In [292]:
global_deaths.head()

                      Entity  Code  Year  death_not_ARM    death_ARM
0       Abdominal infections   NaN  2021     567226.400   79132.5700
1     Bloodstream infections   NaN  2021    2948664.200  456058.7200
2  Bone and joint infections   NaN  2021      21338.693    3165.9866
3                   Diarrhea   NaN  2021    1167751.200   26972.7190
4               Endocarditis   NaN  2021      89064.664   15466.6590

In [293]:
# 2024 Yılında hangi ülkelerde deniz canlıları için antibiyotik yasası var, (Bunu kullanacaksak ülke de deniz var mı yok mu ona da bakalım)
laws_am_aqua= pd.read_csv('simple_data/laws-antimicrobials-aquatic.csv')

In [294]:
laws_am_aqua.head()

        Entity Code  Year antimicrobial_aqua_law
0  Afghanistan  AFG  2024                    No
1      Albania  ALB  2024                    No
2      Algeria  DZA  2024                   Yes
3      Andorra  AND  2024                   Yes
4       Angola  AGO  2024                    No

In [295]:
# 2024 Yılında hangi ülkelerde besi hayvanları için antibiyotik yasası var
laws_am_livestock= pd.read_csv('simple_data/laws-antimicrobials-livestock.csv')

In [296]:
laws_am_livestock.head()

        Entity Code  Year antimicrobial_livestock_law
0  Afghanistan  AFG  2024                        Yes
1      Albania  ALB  2024                         No
2      Algeria  DZA  2024                        Yes
3      Andorra  AND  2024                        Yes
4       Angola  AGO  2024                         No

In [297]:
# 2010-2022 arası, Avrupa ülkelerinde besi hayvanları için antibiyotik satış miktarları (mg per PCU)
sales_am_livestock = pd.read_csv('simple_data/sales-antibiotics-livestock-europe.csv')

In [298]:
sales_am_livestock.head()

    Entity Code  Year  livestock_am_sales
0  Austria  AUT  2010           62.559900
1  Austria  AUT  2011           53.164740
2  Austria  AUT  2012           52.942028
3  Austria  AUT  2013           54.700480
4  Austria  AUT  2014           53.389847

In [299]:
sales_am_livestock.Entity.unique()

array(['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czechia',
       'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece',
       'Hungary', 'Iceland', 'Ireland', 'Italy', 'Latvia', 'Lithuania',
       'Luxembourg', 'Malta', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'Romania', 'Slovakia', 'Slovenia', 'Spain', 'Sweden',
       'Switzerland', 'United Kingdom'], dtype=object)

In [300]:
# WHO Regionlarına göre bazı enfoksiyonların toplam enfoksiyonlar içindeki payı (2016-2022)
regional_infection_share = pd.read_csv('simple_data/regional_infection_share.csv')

In [301]:
regional_infection_share.head()

,Entity,Code,Year,Share of countries reporting confirmed bloodstream infections,Share of countries reporting confirmed gonorrhea infections,Share of countries reporting confirmed gastrointestinal infections,Share of countries reporting confirmed urinary tract infections
0,African Region (WHO),NaN,2016,10.638298,8.510638,4.255319,4.255319
1,African Region (WHO),NaN,2017,12.765958,8.510638,8.510638,6.382979
2,African Region (WHO),NaN,2018,14.893617,6.382979,8.510638,8.510638
3,African Region (WHO),NaN,2019,17.021276,8.510638,10.638298,12.765958
4,African Region (WHO),NaN,2020,31.914894,14.893617,19.148935,23.404255

In [302]:
# E.coli enfeksiyonun yüzde kaçı ARM, ülke bazlı (2016-2021)
e_coli_resistance = pd.read_csv('simple_data/e_coli_ARM.csv')

In [303]:
e_coli_resistance.head()

         Entity Code  Year  e_coli_ARM_percent
0   Afghanistan  AFG  2017               88.24
1   Afghanistan  AFG  2018               85.11
2   Afghanistan  AFG  2019               84.62
3   Afghanistan  AFG  2020               83.33
4   Afghanistan  AFG  2021               80.77

In [304]:
# E.coli enfeksiyonun yüzde kaçı ARM, ülke bazlı (2016-2021)
s_aureus_resistance = pd.read_csv('simple_data/s_aureus_ARM.csv')

In [305]:
s_aureus_resistance.head()

        Entity Code  Year  s_aureus_ARM_percent
0  Africa (UN)  NaN  2019                 17.44
1  Africa (UN)  NaN  2020                 60.59
2  Africa (UN)  NaN  2021                 44.12
3    Argentina  ARG  2017                 45.00
4    Argentina  ARG  2018                 42.50

Projeksiyon ve Simülasyon için Yol Haritası
Bu projeyi, birlikte adım adım ilerletebileceğimiz yönetilebilir aşamalara bölebiliriz:

Adım 1: Hedef ve Kapsam Belirleme Önce neyi tahmin etmek istediğimizi (Hedef Değişken - Target) ve hangi parametreleri (Özellikler - Features) simülasyonda "değiştirmek" istediğimizi netleştirmeliyiz.

Potansiyel Hedefler (Tahmin Edilecekler):

E. coli direnç oranı (Veri: e_coli_resistance.csv)

S. aureus (MRSA) direnç oranı (Veri: s_aureus_resistance.csv)

Ülke bazlı toplam antibiyotik tüketimi (Veri: antibiotic-consumption-rate.csv)

Potansiyel Parametreler (Değiştirilecek Girdiler):

Besi hayvanları için antibiyotik yasaları (Veri: laws_am_livestock.csv)

Deniz canlıları için yasalar (Veri: laws_am_aqua.csv)

GLASS üyeliği durumu (Veri: glass_countries.csv)

Avrupa'da besi hayvanlarına satışlar (Veri: sales_am_livestock.csv)

Adım 2: Birleşik "Ana Veri Seti" (Master DataFrame) Oluşturma Bu simülasyonu yapabilmek için, seçtiğimiz hedefi ve parametreleri "Ülke" ve "Yıl" bazında tek bir tabloda birleştirmemiz gerekir. Buna "panel veri" denir.

Adım 3: Temel Model (Baseline Forecast) Oluşturma Parametreleri değiştirmeden önce, "hiçbir şey değişmezse" 2030'da ne olacağını görmek için seçtiğimiz hedef değişken (örn: E. coli direnci) için bir zaman serisi tahmini yaparız. Bu bizim "Temel Senaryomuz" olur.

Adım 4: Simülasyon Modeli (Scenario Analysis) Geliştirme Burası sizin "parametreleri değiştirirsek ne olur?" dediğiniz kısımdır.

Örnek Senaryo A: "2025 yılından itibaren tüm ülkeler besi hayvanları için antibiyotik yasasını (laws_am_livestock) 'Evet' olarak uygularsa, 2030'daki E. coli direnç projeksiyonu nasıl değişir?"

Örnek Senaryo B: "Avrupa ülkeleri, besi hayvanlarına antibiyotik satışlarını (sales_am_livestock) her yıl %5 azaltırsa, toplam tüketim (antibiotic_consumption) nasıl etkilenir?"

### DDD (Daily defined doses of antibiotics)
### DID (Daily)

In [306]:
antibiotic_use_aware = antibiotic_use_aware.rename(columns={'CountryTerritoryArea': 'Entity'})
antibiotic_use_aware.head()

,WHORegionCode,WHORegionName,CountryIso3,Entity,IncomeWorldBankJune,Year,AntimicrobialClass,AWaRe,AWaReLabel,RouteOfAdministration,DDD,DID,Note
0,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",A,Ãƒccess,O,5.599337e+06,5.255820,NaN
1,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",O,Not classified/recommended,O,6.524650e+04,0.061244,NaN
2,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",R,Reserve,O,8.997500e+03,0.008446,NaN
3,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",W,Watch,O,3.020862e+06,2.835533,NaN
4,EUR,European Region,ARM,Armenia,Lower middle income,2016,"Antibacterials (ATC J01, A07AA, P01AB)",A,Ãƒccess,P,3.591178e+05,0.337086,NaN

In [307]:
# AWaRe Kategorilerine Göre Antibiyotik Tüketim Oranları Hesaplama, diğer. datalar ile birleştirme için
try:
    output_file = 'simple_data/aware_simple.csv'

    # 2. Ülke-Yıl-AWaRe bazında DDD toplamlarını hesapla
    # Bu bize her bir kategorinin (A, W, R, O) toplamını verecek
    aware_grouped = antibiotic_use_aware.groupby(['Entity', 'Year', 'AWaRe'])['DDD'].sum().reset_index()

    # 3. Veriyi "pivot" et (geniş formata çevir)
    # AWaRe kategorilerini (A, W, R, O) sütunlara dönüştür
    aware_grouped_pivot = aware_grouped.pivot_table(
        index=['Entity', 'Year'], 
        columns='AWaRe', 
        values='DDD'
    ).reset_index()

    # NaN (boş) değerleri 0 ile doldur, çünkü o kategoride tüketim yoktur
    aware_grouped_pivot = aware_grouped_pivot.fillna(0)

    # 4. Toplam DDD'yi hesapla (tüm kategorilerin toplamı)
    # 'O' (Not classified) kategorisi de varsa dahil et
    aware_columns = ['A', 'W', 'R']
    if 'O' in aware_grouped_pivot.columns:
        aware_columns.append('O')
        
    aware_grouped_pivot['Total_DDD'] = aware_grouped_pivot[aware_columns].sum(axis=1)

    # 5. Yüzdeleri Hesapla
    # Toplam DDD'nin 0 olduğu yerlerde 0'a bölme hatası almamak için kontrol et
    total_ddd = aware_grouped_pivot['Total_DDD']
    
    # Kategori sütunları yoksa bile hata vermemesi için kontrol
    if 'A' in aware_grouped_pivot.columns:
        aware_grouped_pivot['Access_pct'] = (aware_grouped_pivot['A'] / total_ddd).replace([np.NAN, float('inf'), -float('inf')], 0) * 100
    if 'W' in aware_grouped_pivot.columns:
        aware_grouped_pivot['Watch_pct'] = (aware_grouped_pivot['W'] / total_ddd).replace([np.NAN, float('inf'), -float('inf')], 0) * 100
    if 'R' in aware_grouped_pivot.columns:
        aware_grouped_pivot['Reserve_pct'] = (aware_grouped_pivot['R'] / total_ddd).replace([np.NAN, float('inf'), -float('inf')], 0) * 100
    if 'O' in aware_grouped_pivot.columns:
        aware_grouped_pivot['Other_pct'] = (aware_grouped_pivot['O'] / total_ddd).replace([np.NAN, float('inf'), -float('inf')], 0) * 100


    # 7. Yeni dosyayı kaydet
    aware_grouped_pivot.to_csv(output_file, index=False)
    
    print(f"Başarıyla tamamlandı. AWaRe oranları '{output_file}' dosyasına kaydedildi.")

    # 8. Yeni dosyanın yapısını göster
    print(f"\n--- '{output_file}' Dosyasının İlk 5 Satırı ---")
    print(aware_grouped_pivot.head())

    print(f"\n--- '{output_file}' Dosyasının Bilgileri (info) ---")
    aware_grouped_pivot.info()

except FileNotFoundError:
    print(f"HATA: '{antibiotic_use_aware}' dosyası bulunamadı.")
except Exception as e:
    print(f"Beklenmedik bir hata oluştu: {e}")

Başarıyla tamamlandı. AWaRe oranları 'simple_data/aware_simple.csv' dosyasına kaydedildi.

--- 'simple_data/aware_simple.csv' Dosyasının İlk 5 Satırı ---
AWaRe   Entity  Year             A        O             R             W  \
0      Armenia  2016  5.958455e+06  66996.5   9097.500000  4.252700e+06
1      Armenia  2017  8.827703e+06  55740.0  16710.000000  4.277344e+06
2      Armenia  2018  8.588727e+06  73779.0  10066.666667  4.833163e+06
3      Armenia  2019  7.226904e+06  51626.5  15400.000000  5.271058e+06
4      Armenia  2020  9.131651e+06  77212.0  24470.000000  1.004218e+07

AWaRe     Total_DDD  Access_pct  Watch_pct  Reserve_pct  Other_pct
0      1.028725e+07   57.920778  41.339529     0.088435   0.651258
1      1.317750e+07   66.990740  32.459459     0.126807   0.422994
2      1.350574e+07   63.593181  35.786004     0.074536   0.546279
3      1.256499e+07   57.516202  41.950359     0.122563   0.410876
4      1.927551e+07   47.374372  52.098109     0.126949   0.400570

--- 'simple_data/aware_simple.csv' Dosyasının Bilgileri (info) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 414 entries, 0 to 413
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity       414 non-null    object
 1   Year         414 non-null    int64
 2   A            414 non-null    float64
 3   O            414 non-null    float64
 4   R            414 non-null    float64
 5   W            414 non-null    float64
 6   Total_DDD    414 non-null    float64
 7   Access_pct   414 non-null    float64
 8   Watch_pct    414 non-null    float64
 9   Reserve_pct  414 non-null    float64
 10  Other_pct    414 non-null    float64
dtypes: float64(9), int64(1), object(1)
memory usage: 35.7+ KB

In [308]:
def drop_missing_code_and_remove_col(df):
    if 'Code' not in df.columns:
        print("No 'Code' column found.")
        return df
    return df.dropna(subset=['Code']).drop(columns=['Code']).reset_index(drop=True)

In [309]:
# Örnek kullanım — ilgili DataFrame'leri temizle:
antibiotic_consumption = drop_missing_code_and_remove_col(antibiotic_consumption)
glass_countries = drop_missing_code_and_remove_col(glass_countries)
laws_am_aqua = drop_missing_code_and_remove_col(laws_am_aqua)
laws_am_livestock = drop_missing_code_and_remove_col(laws_am_livestock)
sales_am_livestock = drop_missing_code_and_remove_col(sales_am_livestock)
e_coli_resistance = drop_missing_code_and_remove_col(e_coli_resistance)
glass_countries = drop_missing_code_and_remove_col(glass_countries)
s_aureus_resistance = drop_missing_code_and_remove_col(s_aureus_resistance)

No 'Code' column found.

In [310]:
antibotic_usage_in_children = antibotic_usage_in_children.rename(columns={'country': 'Entity'})

In [311]:
data_frames = [
    aware_grouped_pivot,
    antibiotic_consumption,
    antibotic_usage_in_children,
    glass_countries,
    laws_am_aqua,
    laws_am_livestock,
    sales_am_livestock,
    e_coli_resistance,
    s_aureus_resistance
]

main_df_merged = reduce(lambda left, right: pd.merge(left, right, on=['Entity', 'Year'], how='outer'), data_frames)

In [312]:
main_df = main_df_merged.sort_values(by=['Entity', 'Year']).reset_index(drop=True)

In [313]:
main_df.to_csv('main_df.csv', index=False)